* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark: black;
    --footer-bg: #222222;
    --top-bg: #4a4a4a;
    --gren: #4bc800;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    background-color: var(--dark);
    height: 100vh;
    min-height: 100vh;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: flex-end;
}

.gx-1{
    column-gap: 1rem;
}

.gy-1{
    row-gap: 1rem;
}

/* header */

header{
    width: 100%;
    height: 50px;
    padding: .7rem;
}

header div:first-of-type div{
    background-color: var(--top-bg);
    padding: .3rem .4rem;
    border-radius: .2rem;
    font-size: .8rem;
}

/* /header */

/* main */
main{
    width: 98%;
    margin: 0 auto;
    height: calc(100vh - 150px);
    padding: 1rem;
}


.userImgContainer{
    width: calc((100% / 7) - 2rem);
    height: calc((100% / 5));
    max-height: 8rem;
    min-height: 6rem;
    background-color: white;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

main img{
    width: 100%;
    display: block;
}

.nameContainer{
    position: absolute;
    bottom: 0;
    background-color: #4a4a4a7d;
    padding: .3rem .3rem;
    font-size: .7rem;
}

.nameContainer p{
    margin-left: .4rem;
}
/* /main */

/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color: var(--footer-bg);
    justify-content: space-between;
    padding: 1rem 2rem;
    text-align: center;
}

button{
    display: block;
    background-color: red;
    color: white;
    padding: .3rem .8rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
}

footer i{
    font-size: 1.5rem;
}

.bigIcon{
    margin-top: .5rem;
}
.arrowUp{
    font-size: 1rem;
}


/* /footer */